tr{
    line-height: 50px;
}

thead{
    cursor: pointer;
}
#user, #userAva{
    text-align: left;
    cursor: default;
}

table{
    color: white;
    font-size: 12px;
    background-color: rgba(7, 15, 46, 0.952);
    border: 2px solid white;
    --bs-table-hover-bg: rgb(12 52 205 / 95%) !important;
}
td, th{
    color:white;
    white-space: nowrap;
    text-align: center;
}

table td.shrink {
    white-space: nowrap;
}

table td.expand {
    width: 99%;
}

#avatar{
    width: 50px;
}