include ../../includes/mixins
doctype html
html(lang="en")
    head
        script(src='/js/settings.js', defer)
        link(rel='stylesheet', href='/css/settings.css')
    body
        .alert.alert-success.alert-dismissible.d-flex.align-items-center(role='alert')
            div
                | Your settings were successfully saved!
                button.btn-close(type='button', aria-label='Close')
        section#mainContent
            h1.display-5.text-center Guild Settings
            p.lead.text-center Change the main settings for the server.
            hr.pt-1(style={'background-color': 'white', size: '0.45px', opacity: '1', width: '400px', 'margin-left': 'auto', 'margin-right': 'auto'})
            if !guildExists
                h3.text-center(style={'font-style': 'italic', color: 'red'}) Please initiate the server before attempting to change settings.
            else
                include categories.pug
    
