doctype html
html(lang="en")
    head
        include ../../includes/header.pug
        include ../../includes/mixins
        script(src='/js/sidebar.js', defer)
        
        script(src='/js/management.js', defer)
        link(rel='stylesheet', href='/css/sidebar.css')
        link(rel='stylesheet', href='/css/index.css')
        link(rel='stylesheet', href='/css/stores.css')
        
    body 
        include ../../includes/sidebar.pug

        #sidebarExtention.bf-light
            header.text-center.pt-4 
                .large-icon.bg-white.round 
                    if guild.icon
                        img.round(src=guild.iconURL({dynamic: true, size: 128 }), alt = guild.name)
                    else
                        p.abbr #{guild.nameAcronym}
                h4#overview.pt-2 #{guild.name}
            .tabs.navbar-nav
                .category
                a(href = '/servers/' + guild.id).cursor-pointer Overview
                a(href = '/servers/' + guild.id + '/general').cursor-pointer #[i.fas.fa-cogs.ps-2.text-muted] General
                a(href = '/servers/' + guild.id + '/moderation').cursor-pointer #[i.fas.fa-hammer.ps-2.text-muted] Moderation
                a(href = '/servers/' + guild.id + '/management').cursor-pointer #[i.fas.fa-users-cog.ps-2.text-muted] Team Management
                a(href = '/servers/' + guild.id + '/stores').cursor-pointer #[i.fas.fa-store-alt.ps-2.text-muted] Stores
                a(href = '/servers/' + guild.id + '/stats').cursor-pointer #[i.fas.fa-chart-line.ps-2.text-muted] Stats

        include ../../includes/navbar.pug

        section#mainContent
            h1.display-5.text-center Store Settings
            p.lead.text-center Manage the stores on your server.
            hr.pt-1(style={'background-color': 'white', size: '0.45px', opacity: '1', width: '400px', 'margin-left': 'auto', 'margin-right': 'auto'})
            if !guildExists
                h3.text-center(style={'font-style': 'italic', color: 'red'}) Please initiate the server before attempting to change settings.
            else
                .container
                    ul#pills-tab.nav.nav-pills.mb-3.justify-content-center(role='tablist')
                        li.nav-item(role='presentation')
                            button#pills-store1-tab.nav-link.active(data-bs-toggle='pill', data-bs-target='#pills-store1', type='button', role='tab', aria-controls='pills-store1', aria-selected='true') Store 1
                        li.nav-item(role='presentation')
                            button#pills-store2-tab.nav-link(data-bs-toggle='pill', data-bs-target='#pills-store2', type='button', role='tab', aria-controls='pills-store2', aria-selected='false') Store 2 
                        li.nav-item(role='presentation')
                            button#pills-store3-tab.nav-link(data-bs-toggle='pill', data-bs-target='#pills-store3', type='button', role='tab', aria-controls='pills-store3', aria-selected='false') Store 3
                        li.nav-item(role='presentation')
                            button#pills-teamStore-tab.nav-link(data-bs-toggle='pill', data-bs-target='#pills-teamStore', type='button', role='tab', aria-controls='pills-teamStore', aria-selected='false') Team Store
                    #pills-tabContent.tab-content
                        #pills-store1.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='pills-store1-tab')
                            table.table.table-hover
                                thead
                                    tr
                                        th(scope='col') Item #
                                        th.col-3(scope='col') Name
                                        th(scope='col') Quantity
                                        th(scope='col') Cost
                                        th(scope='col') Availability
                                        th.text-center(scope='col') Actions
                                tbody
                                    +generateStoreTable(allStores[0])
                        #pills-store2.tab-pane.fade(role='tabpanel', aria-labelledby='pills-store2-tab')
                            table.table.table-hover
                                thead
                                    tr
                                        th(scope='col') Item #
                                        th(scope='col') Name
                                        th(scope='col') Quantity
                                        th(scope='col') Cost
                                        th(scope='col') Availability
                                        th(scope='col') Actions

                                tbody
                                    +generateStoreTable(allStores[1])
                        #pills-store3.tab-pane.fade(role='tabpanel', aria-labelledby='pills-store3-tab')
                            table.table.table-hover
                                thead
                                    tr
                                        th(scope='col') Item #
                                        th(scope='col') Name
                                        th(scope='col') Quantity
                                        th(scope='col') Cost
                                        th(scope='col') Availability
                                        th(scope='col') Actions
                                tbody
                                    +generateStoreTable(allStores[2])
                        #pills-teamStore.tab-pane.fade(role='tabpanel', aria-labelledby='pills-teamStore-tab')
                            table.table.table-hover
                                thead
                                    tr
                                        th(scope='col') Item #
                                        th(scope='col') Name
                                        th(scope='col') Quantity
                                        th(scope='col') Cost
                                        th(scope='col') Availability
                                        th(scope='col') Actions
                                tbody 
                                    +generateStoreTable(allStores[3])
                    


        
        